<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carritos</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Carritos:</h1>
        <ul class="list-group">
            {{#each all}}
            <li class="list-group-item">
                <h4 class="mb-3">Carrito ID: {{this._id}}</h4>
                <h5>Productos:</h5>
                <ul>
                    {{#each this.products}}
                    <li class="list-group-item">{{this.name}}</li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
    </div>
</body>
</html>
